@media screen and (max-width:760px){
/*quando o site chegar na largura de 760px ele vai aplica essa estilização: */
   body{

    header {
        flex-direction: column;

      }

      h1{
          font-size:25px;
          font-weight: 300;
          margin-left: 0px;
      }

      main {
        flex-direction: column;
      }

      img{
          display: block;
          margin-left: 0px;
          width: 260px; /* Ajuste para o tamanho desejado da foto */
          height: 260px; /* Deve ser igual à largura para ser um círculo */
          border-radius: 50%;
          object-fit: cover;
          position: relative;
      }



      }



      h2 {
        font-size: 50px;
      }



    }
